{{#if addNewQuestion}}
  <hr>
  <h3>New Question</h3>
  <div class="row">
    <form class="col-sm-6">
      <div class="form-group">
        <label for="questionInput">Question</label>
        {{input value=questionInput id="questionInput" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="authorInput">Author</label>
        {{input value=authorInput id="authorInput" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="noteInput">Additional Note</label>
        {{textarea value=noteInput id="noteInput" rows="5" class="form-control"}}
      </div>

      <button {{action 'saveQuestion'}} class="btn btn-success">Add</button>
      <span {{action 'cancel'}} class="btn btn-default">Cancel</span>
    </form>
  </div>
{{else}}
  <br>
  <button {{action 'questionFormShow'}} class="btn btn-default">Add a New Question</button>
{{/if}}
