{{#if addNewAnswer}}
  <hr>
  <h3>New Answer</h3>
  <div class="row">
    <form class="col-sm-6">
      <div class="form-group">
        <label for="nameInput">Your name</label>
        {{input value=nameInput id="nameInput" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="replyInput">Answer</label>
        {{input value=replyInput id="replyInput" class="form-control"}}
      </div>

      <button {{action 'saveAnswer'}} class="btn btn-success">Post Answer</button>
    </form>
  </div>
{{else}}
  <hr>
  <button {{action 'answerFormShow'}} class="btn btn-default">Add Answer</button>
{{/if}}
