{{#if addNewQuestion}}
  <hr>
  <h3>New Question</h3>
  <div class="row">
    <form class="col-sm-6">
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question id="question" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="note">Additional Note</label>
        {{textarea value=note id="note" rows="5" class="form-control"}}
      </div>

      <button {{action 'saveQuestion'}} class="btn btn-success">Add</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}} class="btn btn-success">Add a New Question</button>
{{/if}}
