{{#if addNewAnswer}}
  <div class="row">
    <form class="col-sm-8 col-sm-offset-1">
      <h4>Add New Answer</h4>

      <div class="form-group">
        <label for="nameInput">Your name</label>
        {{input value=nameInput id="nameInput" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="replyInput">Answer</label>
        {{textarea value=replyInput id="replyInput" class="form-control" rows="5"}}
      </div>

      <button {{action 'saveAnswer'}} class="btn btn-success btn-sm">Post Answer</button>
      <span {{action 'cancel'}} class="btn btn-default btn-sm">Cancel</span>
    </form>
  </div>
{{else}}
  <br>
  <button {{action 'answerFormShow'}} class="btn btn-default btn-sm">Add Answer</button>
{{/if}}
