<div class="row userQuestionBox">
  <div class="col-xs-2">
    <h4 class="style-author"> Ask by {{question.author}}</h4>
  </div>
  <div class="col-xs-10">
    <h4>{{question.topic}}</h4>
    <h5>Additional Note: {{question.note}}</h5>
    <hr class="styleTopBottom">
    {{update-question update="update" destroyQuestion="destroyQuestion" question=question}}
  </div>
</div>

{{#each question.answers as |answer|}}
  <div class="row userAnswerBox">
    <div class="col-sm-2 userName">
      <p></p>
      <p>Reply by {{answer.name}}</p>
    </div>

    <div class="col-sm-7 userAnswer">
      <p></p>
      <p>{{answer.reply}}</p>
    </div>

    <div class="col-sm-1 pull-right userAnswerEdit">
      <p></p>
      <p {{action 'destroyAnswer' answer}} class="style-action">Delete</p>
    </div>
  </div>
{{/each}}
