<div class="row userQuestionBox">
  <div class="col-xs-2">
    <h4 class="style-author"> Ask by {{question.author}}</h4>
  </div>

  <div class="col-xs-10">
    <h4>{{question-popularity question}}<span> </span>
      {{question.topic}}
    </h4>
    <h5>Additional Note: {{question.note}}</h5>
    <hr class="styleTopBottom">

    <div class="row">
      <div class="col-xs-10">
        {{update-question update="update" destroyQuestion="destroyQuestion" question=question}}
      </div>

      <div class="col-xs-2">
        <button {{action 'addToFavorite' question}} class="btn btn-xs pull-right style-action" id="button-fav">Add to Favorite</button>
      </div>
    </div>
  </div>

</div>

{{answer-tile answers=question.answers destroyAnswer="destroyAnswer" upvote="upvote"}}
