<h3 {{action 'noteShow'}}><span class="style-action">{{question.topic}}</span><span class="style-author"> - by {{question.author}}</span></h3>

{{#if isNoteShow}}
  <h5 {{action 'noteHide'}}><span class="style-action">Additional Note:</span> {{question.note}}</h5>
{{/if}}
<hr>

{{#each question.answers as |answer|}}
  <div class="row userAnswerBox">
    <div class="col-sm-2 userName">
      <p></p>
      <p>Reply by {{answer.name}}</p>
    </div>

    <div class="col-sm-7 userAnswer">
      <p></p>
      <p>{{answer.reply}}</p>
    </div>

    <div class="col-sm-1 pull-right userAnswerEdit">
      <p></p>
      <p {{action 'destroyAnswer' answer}} class="style-action">Delete</p>
    </div>
  </div>
{{/each}}
