<h3 {{action 'noteShow'}}><span class="style-action">{{question.topic}}</span><span class="style-author"> - by {{question.author}}</span></h3>

{{#if isNoteShow}}
  <h5 {{action 'noteHide'}}><span class="style-action">Additional Note:</span> {{question.note}}</h5>
{{/if}}
<hr>
<ul>
  {{#each question.answers as |answer|}}
    <div class="row">
      <div class="col-sm-2">
        <p>Reply by {{answer.name}}</p>
      </div>

      <div class="col-sm-6">
        <p>{{answer.reply}}</p>
      </div>

      <div class="col-sm-1">
        <p {{action 'destroyAnswer' answer}} class="style-action">Delete</p>
      </div>

    </div>
  {{/each}}
</ul>
