{{#if updateFormShow}}
  <form class="form-group">
    <div class="form-inline">
      <label>Edit Question: </label>
      {{textarea value=question.topic id="editQuestionInput" class="form-control" rows=2}}
      <button {{action 'update' question}} class="btn btn-info btn-sm">Confirm</button>
      <span {{action 'cancel'}} class="btn btn-default btn-sm">Cancel</span>
    </div>
  </form>
{{else}}
  <div class="pull-right">
    <span {{action 'updateForm'}} class="style-action">EDIT</span>
    <span> / </span>
    <span {{action 'destroyQuestion' question}} class="style-action">DELETE</span>
    <span> this question</span>
  </div>
{{/if}}
