{{#if updateFormShow}}
  <div class="row">
    <form class="col-sm-8">
      <h4>Edit Question</h4>
      {{input value=question.topic id="editQuestionInput" class="form-control"}}
      <br>
      <button {{action 'update' question}} class="btn btn-info">Confirm Edit</button>
      <span {{action 'cancel'}} class="btn btn-default">Cancel</span>
    </form>
  </div>
{{else}}
  <br>
  <button {{action 'updateForm'}} class="btn btn-default">Edit Question</button>
{{/if}}
