<h3 class="sub-header">Active Threads</h3>

{{#each model.questions as |question|}}
  <div class="row userQuestionBox">
    <div class="col-xs-1">
      {{avatar-generator question}}
    </div>

    <div class="col-xs-5">
      <h4>
        {{question-popularity question}}<span> </span>
        {{#link-to 'question' question.id}}{{question.topic}}{{/link-to}}
      </h4>
      <h5>Ask by {{question.author}}</h5>
    </div>

    <div class="col-xs-4">
      <h5>Post date go here</h5>
    </div>

    <div class="col-xs-1">
      <center><h5>Answers</h5>
      <h4>{{question.answers.length}}</h4></center>
    </div>
  </div>
{{/each}}

<center>
  <h5>
    <span class="glyphicon glyphicon-question-sign"></span> Waiting for answer /
    <span class="glyphicon glyphicon-pencil"></span> Answers /
    <span class="glyphicon glyphicon-fire"></span> Popular
  </h5>
</center>

{{new-question saveQuestion="saveQuestion"}}
