<h3>Question: {{model.topic}}</h3>
<h4>By: {{model.author}}</h4>
<h5>Additional Note: {{model.note}}</h5>

<!-- {{answer-tile answers=model.answers}} -->

{{new-answer saveAnswer="saveAnswer" question=model}}
